@use "../utilities/extend";
@use "../utilities/variables";

.otra-pagina{
    @extend %button;
    display: inline-block;
    font-size: 16px;
    background-color: variables.$backbtn;
    margin: 20px;

    &:hover {
    background-color: rgb(152, 185, 213);
    color: rgb(13, 7, 7);
    }
    
}
.btn-compra{
    @extend %button;
    display: block;
    font-size: 16px;
    background-color: variables.$backbtn;
    text-align: center;   
    
    &:hover {
    background-color: rgb(152, 185, 213);
    color: rgb(13, 7, 7);
    }
}
.btn-mail{
    @extend %button;
    display: inline-block;
    font-size: 16px;
    background-color: variables.$backbtn;
    text-align: center;  

    &:hover {
    background-color: rgb(152, 185, 213);
    color: rgb(13, 7, 7);
    } 
}   