@use "../utilities/variables";
@use "../utilities/mixins";

.card-tienda {
  @include mixins.flex(row,space-around,center);

  .card-birra {
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;

    img {
      width: 100%;
      border-bottom: 1px solid black;
      border-radius: 8px;
    }

    .contenido-card {
      padding: 10px;

      h5 {
        font-size: variables.$fontsize-card;
        text-align: center;
      }

      p {
        font-size: variables.$fontsize-p;
        margin: 10px 0;
      }

    
    }
  }
}