.p-footer {
    color: black; 
    font-size: 10px;
    text-align: center;
}
.footer-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}