@use "../utilities/mixins";

.p-footer {
    color: black; 
    font-size: 10px;
    text-align: center;
    padding: 10px;
    @media (max-width: 450px) {
        font-size: 8px;
        width: 90%;
        padding: 0px 5px;
  }
    @media (min-width: 451px) and (max-width: 1024px) {
        font-size: 10px;
        padding: 5px 10px;
  }
}
.footer-redes{
    @include mixins.flex(row,center,center);
    gap: 10px;
    @media (max-width: 450px) {
        gap: 5px;
  }
    @media (min-width: 451px) and (max-width: 1024px) {
        gap: 8px;
  }
}