@use "../utilities/variables";
@use "../utilities/mixins";

body {
    background-color: antiquewhite;
    margin: 5px;
    @media (max-width: 450px) {
        margin: 2px;
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        margin: 8px;
    }
}

p{
    color: variables.$color-p; 
    font-size: variables.$fontsize-p;
    padding: 10px 20px;

    @media (max-width: 450px) {
        font-size: 10px;
        padding: 5px 10px;
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        font-size: 12px;
        padding: 10px 15px;
    }

}    
h1 {
    color: variables.$color-h1; 
    font-size: variables.$fontsize-h1;
    font-weight: 700;
    margin: 20px;
    padding: 20px;
    @media (max-width: 450px) {
        font-size: 20px;
        margin: 10px;
        padding: 10px;
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        font-size: 30px;
        margin: 16px;
        padding: 16px;
    }
}
h2{
    color: variables.$color-subtitle;
    font-size: variables.$fontsize-subtitle;
    font-weight: 600;
    margin: 20px;
    padding: 20px;
    @media (max-width: 450px) {
        font-size: 12px;
        margin: 10px;
        padding: 10px;
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        font-size: 16px;
        margin: 16px;
        padding: 16px;
    }
}
h3{
    color: variables.$color-subtitle;
    font-size: variables.$fontsize-subtitle;
    font-weight: 500;
    margin: 20px;
    padding: 20px;
    @media (max-width: 450px) {
        font-size: 12px;
        margin: 10px;
        padding: 10px;
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        font-size: 16px;
        margin: 16px;
        padding: 16px;
    }
}

h4{
    color: variables.$color-subtitle;
    font-size: variables.$fontsize-subtitle;
    @media (max-width: 450px) {
        font-size: 12px;
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        font-size: 16px;
    }
}
.contacto {
    @include mixins.flex(column,center,center);
    margin: 20px;
    img{
        width: 30px;
        height: 30px;
    }
    @media (max-width: 450px) {
        margin: 10px;
        img{
            width: 20px;
            height: 20px;
        }
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        margin: 16px;
        img{
            width: 25px;
            height: 25px;
        }
    }
}
.red-social{
    @include mixins.flex(column,center,center);
    margin-bottom: 12px;
    .redes img{
        width: 50px;
        height: 50px;
    }
    @media (max-width: 450px) {
        margin-bottom: 8px;
        img{
            width: 25px;
            height: 25px;
        }
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        margin-bottom: 12px;
        img{
            width: 40px;
            height: 40px;
        }
    }       
}
.cerveza{
    @include mixins.flex(row,space-around,flex-start);
    .cerveza-info{
        max-width: 900px;
        width: 100%;
        margin: 10px 0px;
    }
    .cerveza-img{
        width: 184px;
        height: 236px;
        margin: 6px 0px;
    }
    @media (max-width: 450px) {
        @include mixins.flex(column,center,center);
        .cerveza-info{
            max-width: 100%;
            margin: 0px;
            padding: 0px 5px;
        }
        .cerveza-img{
            width: 90px;
        }
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        @include mixins.flex(column,center,center);
        .cerveza-info{
            max-width: 100%;
            margin: 0px;
            padding: 0px 10px;
        }
        .cerveza-img{
            width: 150px;
            height: auto;
        }
    }       

}
.section-principal {
    @include mixins.flex(column,center,center);
    gap: 20px;
    .section-texto {
        max-width: 1200px;
        width: 100%;
        text-align: center;
    }
    @media (max-width: 450px) {
        width: 90%;
        gap: 10px;
        .section-texto{
            padding: 0px 5px;
        }
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        gap: 16px;
        .section-texto{
            padding: 0px 10px;
        }
    }       
}
.contenido-secundario{
    @include mixins.flex(column,center,center);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    .texto-secundario {
        max-width: 1000px;
        width: 100%;
        text-align: center;
    }
    @media (max-width: 450px) {
        margin: 0;
        margin-top: 10px;
        width: 90%;
        .texto-secundario {
            width: 100%;
            padding: 0px 5px;
        }
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        margin-top: 16px;
        .texto-secundario {
            padding: 0px 10px;
        }
    }       
}

.contenido-dudas{
    @include mixins.flex(column,center,center);
    .texto-dudas {
        max-width: 1200px;
        width: 100%;
        text-align: center;
    }
    @media (max-width: 450px) {
        width: 90%;
        margin-top: 10px;
        .texto-dudas {
            padding: 0px 5px;
        }
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        margin-top: 16px;
        .texto-dudas {
            padding: 0px 10px;
        }
    }       
}
.img-secundaria{
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    @media (max-width: 450px) {
        width: 90%;
        height: auto;
    }
}