.navbar{
    background-color: antiquewhite;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    @media (max-width: 450px) {
        width: 100%;
        padding: 8px;
    }

    @media (min-width: 451px) and (max-width: 1024px) {
        padding: 12px;
    }

    .nav-link{
        color: rgb(62, 60, 60);
        margin-left: 16px;
        font-weight: 500;
        padding: 12px 0;

        &:hover{
            color: rgb(9, 150, 28);
        }
        @media (max-width: 450px) {
            margin-left: 8px;
            font-size: 16px;
            padding: 8px 0;
        }

        @media (min-width: 451px) and (max-width: 1024px) {
            margin-left: 12px;
            font-size: 20px;
            padding: 10px 0;
        }
    }
}

.navbar-icon{
    width: 30px;
    height: 30px;
    @media (max-width: 450px) {
      width: 24px;
      height: 24px;
    }
    @media (min-width: 451px) and (max-width: 1024px) {
        width: 28px;
        height: 28px;
    }
}
.navbar-toggler{
    border: 2px solid black;
    background-color: rgb(250, 200, 164);
    padding: 4px 12px;
    border-radius: 4px;
    @media (max-width: 450px) {
      padding: 2px 8px;
    }

    @media (min-width: 451px) and (max-width: 1024px) {
      padding: 3px 10px;
    }
}