$color-p: dimgray;
$p-btn: rgb(69, 68, 68);
$color-h1: darkgreen;
$color-subtitle: rgb(3, 152, 3);
$fontsize-p: 20px;
$fontsize-h1: 50px;
$fontsize-subtitle: 40px;
$fontsize-card: 20px;
$backbtn: rgb(201, 210, 201);