@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: antiquewhite;
    margin: 40px;
}
h1 {
    color: darkgreen; 
    font-size: 40px;
    font-weight: 700;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
h2{
    color: green;
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: left;

}
h3{
    color: green;
    font-size: 24px;
    font-weight: 500;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: left;
}
p{
    color: dimgray; 
    font-size: 20px;
    padding: 10px 30px;
}
.p-footer {
    color: black; 
    font-size: 10px;
}
.navbar{
    background-color: antiquewhite;
    padding: 1rem;
}
.navbar .nav-link{
    color: rgb(62, 60, 60);
    margin-left: 1rem;
    font-weight: 500;
}
.navbar .nav-link:hover {
    color: rgb(138, 1, 1);
}
.navbar-icon{
    width: 30px;
    height: auto;
}
.navbar-toggler{
    border: 2px solid black;
    background-color: rgb(251, 188, 143);
}
.otra-pagina{
    margin: 16px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px;
    font-size: 16px;
    background-color: rgb(251, 188, 143);
    border-radius: 8px;
    text-align: left;
}
.img-principal {
    max-width: 700px;
    padding: 40px;
    height: auto;
    margin: auto;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 700px;
    height: auto;
    margin: auto;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container-btn{
    width: auto;
    height: auto;
    margin: 2px;   
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
}

.card-birra{
    width: 18rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}
.img-card{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.btn-compra{
    margin: 16px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px;
    font-size: 16px;
    background-color: rgb(102, 181, 241);
    border-radius: 8px;
    text-align: left;   
}
.card-tienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}
.contenido-card{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
.card-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.btn-mail{
    margin: 16px;
    height: auto;
    width: 100px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    padding: 8px;
    font-size: 16px;
    background-color: rgb(102, 181, 241);
    border-radius: 8px;
    text-align: center;   
}